<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hubble</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Hubble</h1>
    <img src="{{ image7 }}" />
    <p>
      Hubble NASA/ESA/STScI, Hester & Scowen (Arizona State University) The
      most-loved of all NASA spacecraft, the Hubble Space Telescope has name
      recognition around the world. Its photos have changed the way everyday
      people figure themselves into the cosmos. The observatory has also
      radically changed science, making breakthroughs on astronomical issues too
      numerous to count. By finally sending up an optical telescope to peer at
      the sky from beyond Earth's turbulent atmosphere, NASA developed a tool
      that could reveal stars, planets, nebulae and galaxies in all their
      fully-detailed glory.
    </p>
  </body>
</html>
