<html>
  <head>
    <title>Voyager</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Voyager</h1>
    <img src="{{ image2 }}" />
    <p>
      Voyager NASA Shortly after the Pioneers made their flybys, the Voyager 1
      and Voyager 2 probes followed. They made many important discoveries about
      Jupiter and Saturn, including rings around Jupiter and the presence of
      volcanism on Jupiter's moon, Io. Voyager went on to make the first flybys
      of Uranus, where it discovered 10 new moons, and Neptune, where it found
      that Neptune actually weighs less than astronomers thought. Both Voyager
      crafts have enough power to keep transmitting radio signals until at least
      2025, and are now exploring the very edge of the solar system and
      beginning of interstellar space. Voyager 2 is currently the farthest
      man-made object from Earth, at more than a hundred times the distance from
      the Earth to the sun, and more than twice as far as Pluto.
    </p>
  </body>
</html>
