<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>WMAP</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>WMAP</h1>
    <img src="{{ image3 }}" />
    <P
      >WMAP NASA/WMAP The Wilkinson Microwave Anisotropy Probe (WMAP), launched
      in 2001, may not be as well-known, but it measures with unprecedented
      accuracy the temperature of the radiation left over from the Big Bang. By
      mapping out the fluctuations in the so-called cosmic microwave background
      radiation, the spacecraft has heralded a leap forward in cosmological
      theories about the nature and origin of the universe. Among other
      revelations, the data from WMAP revealed a much more precise estimate for
      the age of the universe ? 13.7 billion years ? and confirmed that about 95
      percent of it is composed of poorly understood things called dark matter
      and dark energy.
    </P>
  </body>
</html>
