<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Apollo</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Apollo</h1>
    <img src="{{ image8 }}" />
    <p>
      NASA, Charles M. Duke Jr. NASA's best space science mission.The one humans
      got to tag along on, of course! Not only was sending a man to the moon
      monumental for human history, but the Apollo trips were the first to bring
      celestial stuff back to Earth and greatly advanced our scientific
      understanding of the moon. Before Apollo, many people weren't even
      convinced the moon wasn't made out of cheese (well? non-scientists at
      least). By studying the moon up close and personal, and then carting?
      loads of moon rocks home, the Apollo astronauts gathered data that helped
      us learn how old the moon is, what it's made out of, and even how it might
      have begun.
    </p>
  </body>
</html>
