<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chandra</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Chandra</h1>
    <img src="{{ image6 }}" />
    <p>
      Chandra NASA, ESA, ESO, CXC, and D. Coe (STScI)/J. Merten
      (Heidelberg/Bologna) Since 1999, the Chandra X-ray Observatory has been
      scanning the skies in X-ray light, looking at some of the most distant and
      bizarre astronomical events. Because Earth's pesky atmosphere blocks out
      most X-rays, astronomers couldn't view the universe in this high-energy,
      short-wavelength light until they sent Chandra up to space. The
      observatory has such high-resolution mirrors, it can see X-ray sources 100
      times fainter than any previous X-ray telescope. Among other firsts,
      Chandra showed scientists the first glimpse of the crushed star left over
      after a supernova when it observed the remnant Cassiopeia A.
    </p>
  </body>
</html>
