<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pioneer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
        <h1>Pioneer</h1>
<img src= {{image1}}></body></img>
<p>
    NASA Ames Research Center
Pioneer 10 and Pioneer 11, launched in 1972 and 1973, respectively, were the first spacecraft to visit the solar system's most photogenic gas giants, Jupiter and Saturn. Pioneer 10 was the first probe to travel through the solar system's asteroid belt, a field of orbiting rocks between Mars and Jupiter. Then about a year-and-a-half after its launch, the spacecraft made the first flyby of the planet Jupiter. It took stunning up-close photos of the Great Red Spot and the wide swaths of red that band the planet. About a year later, Pioneer 11 flew by Jupiter, and then moved on to Saturn, where it discovered a couple of previously unknown small moons around the planet, and a new ring. Both probes have stopped sending data, and are continuing out on their one-way voyages beyond the solar system.

</p>
</body>
</html>