<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spitzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
        <h1>Spitzer</h1>
    <img src="{{image4}}"></img>
<p>Spitzer

Another spacecraft with a profound effect on cosmology and astrophysics is the Spitzer Space Telescope, which observed the heavens through infrared light. This light, which has a longer wavelength than visual light, is mostly blocked by Earth's atmosphere. In addition to taking gorgeous photos of galaxies, nebulae and stars, the telescope has made numerous groundbreaking scientific discoveries. In 2005 Spitzer became the first telescope to detect light from extrasolar planets (most of these distant worlds are detected only through secondary, gravitational effects on their suns). In another observation, astronomers think the telescope may have even captured light from some of the first stars born in the universe.
</p>

</body>
</html>