<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vikings</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Vikings</h1>
    <img src="{{ image9 }}" />
    <p>
      NASA When NASA's Viking 1 probe touched-down on Mars in July 1976, it was
      the first time a man-made object had soft-landed on the red planet.
      (Though the Soviet Mars 2 and 3 probes did land on the surface, they
      failed upon landing). The Viking 1 lander also holds the title of
      longest-running Mars surface mission, with a total duration of 6 years and
      116 days. The spacecraft also sent the first color pictures back from the
      Martian surface, showing us what that mysterious red dot looks like from
      the ground for the first time.
    </p>
  </body>
</html>
